# ==============================================================================
# ⚙️ APP CONFIGURATION
# ==============================================================================
# Porta onde o serviço vai rodar
PORT=3001
NODE_ENV=development

# ==============================================================================
# 🍃 MONGODB CONFIGURATION
# ==============================================================================
# Se rodar via npm run start (Host): mongodb://localhost:27017/production_db
# Se rodar via Docker Compose (App dentro do container): mongodb://mongo:27017/production_db
MONGO_URI=mongodb://localhost:27017/production_db

# ==============================================================================
# 🛒 EXTERNAL SERVICES (INTEGRATIONS)
# ==============================================================================
# URL base do Cart Service para buscar os itens do pedido (Data Enrichment)
# Se Cart rodar local: http://localhost:3000
# Se Cart rodar no Docker: http://cart-service:3000
CART_SERVICE_URL=http://localhost:3000

# ==============================================================================
# ☁️ AWS / LOCALSTACK CONFIGURATION
# ==============================================================================
# Região padrão (usar us-east-1 para LocalStack)
AWS_REGION=us-east-1

# Endpoint do LocalStack
# Se rodar via npm run start (Host): http://localhost:4566
# Se rodar via Docker Compose (App dentro do container): http://localstack:4566
SQS_ENDPOINT=http://localhost:4566

# Credenciais Dummy para LocalStack (podem ser qualquer valor)
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# ==============================================================================
# 📨 SQS QUEUE URLS
# ==============================================================================
# Account ID padrão do LocalStack é 000000000000

# [INPUT] Fila onde o Payment Service avisa que pagou
# O Production Service escuta essa fila para criar o pedido como RECEIVED
SQS_PAYMENT_CONFIRMED_URL=http://localhost:4566/000000000000/payment-confirmed

# [OUTPUT] Filas onde publicamos eventos de mudança de status
# O Order Service escuta essas filas para atualizar o status do cliente

# Disparado quando cozinheiro muda para IN_PREPARATION
SQS_PRODUCTION_STARTED_URL=http://localhost:4566/000000000000/production-started

# Disparado quando cozinheiro muda para READY
SQS_PRODUCTION_READY_URL=http://localhost:4566/000000000000/production-ready

# Disparado quando cozinheiro muda para COMPLETED (Pedido entregue)
SQS_PRODUCTION_WITHDRAWN_URL=http://localhost:4566/000000000000/production-withdrawn